  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= render 'layouts/sidebar', user: @user%>
    </div>
    <!--メイン部分-->
    <div class="col-md-9 col-sm-9 col-xs-9">
      
      <h1>曲一覧</h1>
      
      <!--検索フォーム-->
      
      
      <!--曲一覧-->
      
      
      <!--ページネーション-->
      
    </div>
  </div>