  <!--メイン部分-->
  <!--曲情報-->
  <div class="row col-md-12 col-sm-12 col-xs-12">
    <%= render 'song_data', song: @song %>
  </div>

  <div>
    <%= link_to new_song_record_path(@song), class: "btn btn-primary" do %>
      <div>記録する</div>
    <% end %>
  </div>
  <!--記録-->
