  <!--メイン部分-->
  <%= flash[:notice] %>
  <!--曲情報-->
  <div class="row align-items-end">
    <div class="col col-10 justify-content-center">
      <%= render 'song_data', song: @song%>
    </div>
    
    <div class="col col-2 justify-content-center">
      <%= link_to edit_admin_song_path(@song), class: "btn btn-transition" do%>
        <div>編集</div>
      <% end %>
    </div>
  </div>
  <!--記録-->