  <h1>歌うたいの修練場</h1>

  <div class="row">
    <%= link_to "ゲストログイン（閲覧用）", guest_sign_in_path, class: "btn btn-secondary sign_in", method: :post %>
  </div>
  <div class="row">
    <%= link_to "Log in",new_user_session_path, class: "btn btn-info sign_in" %>
  </div>
  <div class="row">
    <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-success sign_up" %>
  </div>
