<!--メイン部分-->
  <h1>
    この修練場は、一度諦めた者に二度目の機会を与えることはない。
    それでも、あなたは修練を取り止めますか？
  </h1>
  <div>
    <%= link_to users_withdraw_path, method: :patch, class: "btn btn-danger" do %>
      <div>取り止める</div>
    <% end %>
  </div>
