<!--サイドバー-->
  <div class="row col-md-2 col-sm-2 col-xs-2">
    <%= render 'layouts/sidebar', user: @user%>
  </div>
<!--メイン部分-->
  <div class="row col-md-10 col-sm-10 col-xs-10">
    <h1>会員Myページ</h1>
    <p>Find me in app/views/public/user/show.html.erb</p>
  </div>
