  <div class="row col-12">
  <!--graph-area">-->
    <canvas id="myLineChart", class="col-12"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      $(window).on('turbolinks:load', function() {    //turbolinkの設定変更(documentはだめだった、windowでいけた)
        Chart.defaults.font.size = 16;
        let ctx = document.getElementById("myLineChart");
        let myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: [
              1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
            ],
            datasets: [
              {
                label: '点数',    //系列名
                data: [    //x軸データ
                  <% user_graph_asc = @user_graph.sort {|a,b| a[:id] <=>b[:id]} %>
                  <% user_graph_asc.each do |graph|%>
                    <%= graph.score %>,
                  <% end %>
                ],
                borderColor: "#5cb6e4",    //線の色
                tension: 0.2,    //線の曲線度合い
              },
            ]
          },
          options: {
            plugins: {
              title: {    //グラフタイトル
                display: true,    //表示するか否か
                font: {size: '18'},
                text: '直近25回の点数',    //文面
              },
            },
            responsive: true,    //画面サイズ変更に伴ってグラフのサイズ変更するか否か
            // maintainAspectRatio: true,    //グラフサイズの縦横比固定
            backgroundColor: "#050B0D",    //背景色
            scales: {    //軸に対する設定
              y:{    //y軸に対する設定
                min: 0,    //y軸の最小値
                max: 100.00,    //y軸の最大値
              },
              x:{    //x軸に対する設定
                display: false,
              },
            },
          }
        });
      });
    </script>
  </div>